@import '~antd/dist/antd.min.css';
* {
  box-sizing: border-box;
} 

h1{
  color: rgb(106, 135, 128);
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;  
  transform: scale(0);
  z-index: 6;
}

.modal.active {
  transform: scale(1);
}
.modal-content {
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(160, 203, 193);
}

.modal  button {
  padding: 16px 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background:rgb(255, 241, 223);
  color: rgb(106, 135, 128);
  text-transform: capitalize;
}
.modal input {
  border-color: rgb(255, 241, 223);
  color:rgb(255, 241, 223);
}